---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Stack orange - the ultimate Bitcoin onboarding platform</title>
    <script is:inline defer data-domain="stackorange.com" src="https://plausible.stackorange.com/js/script.js"></script>
  </head>
  <body class="flex flex-col px-4 h-screen max-w-2xl mx-auto">
    <header class="mt-2 mb-8">
      <h1 class="text-2xl">Stack orange</h1>
    </header>

    <main class="flex-1 flex justify-center">
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
