---
import { Button } from "../components/Button";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Stack orange - the ultimate Bitcoin onboarding platform</title>
  </head>
  <body class="flex flex-col h-screen">
    <header class="px-8 h-16">
      <h1 class="text-2xl">Stack orange</h1>
    </header>

    <main class="px-8 flex justify-center items-center flex-1">
      <slot />
    </main>

    <footer class="px-8 h-16 text-center">
      <Button client:load />
    </footer>
  </body>
</html>
